@{
    Layout = "_Layout";
}

<h2>Welcome to the Bookshelf App</h2>

<p>This is the home page of the Bookshelf App.</p>

<p>Use the links below to manage your bookshelf:</p>

<ul>
    <li><a class="btn btn-primary" href="/Book/Index">View Bookshelf</a></li>
    <li><a class="btn btn-success" href="/Book/Add">Add New Book</a></li>
</ul>
